<a href="mailto:jordi.tabit@gmail.com?subject=Skello te donne des nouvelles&body=Salut%20Jordi%2C%0A%0AOn%20a%20ador%C3%A9%20ton%20travail%20%21%20On%20revient%20tr%C3%A8s%20vite%20vers%20toi%20pour%20te%20proposer%20une%20date%20d%27entretien%20sur%20Paris%20%21%0A%0AA%20bient%C3%B4t%2C%20%0A%0AL%27%C3%A9quipe%20Skello" class="btn btn-outline-primary"><%= message %></a>
