<div class="navbar-ch navbar-absolute">
  <a href="/" class="navbar-ch-logo"><img src="/images/icon-with-name.png" /></a>
  <%= partial(:'./shared/_magic_button', message: 'Contactez-nous !') %>
</div>
