.article-content {
  padding: 30px;
  text-align: justify;
}

.article-comments {
  margin-top: 30px;
}

.article-comments h2 {
  color: #379683;
  font-size: 1.8em;
  margin-bottom: 15px;
}

.article-info {
  margin: 0px 5px;
}

#article-title {
  color: #05386B;
  font-weight: 700;
}

.article-block {
  margin-top: 20px;
  max-width: 1200px;
}
