<div class="navbar-ch navbar-ch-absolute">
  <a href="/" class="navbar-ch-logo"><img src="/images/icon-with-name.png" /></a>
  <button type="button" class="btn btn-outline-primary">Contactez-nous !</button>
</div>

<div class="banner">
  <div id="catching-phrase">
    <h1>Lieu d'expression libre.</h1>
  </div>
  <button type="button" class="btn btn-outline-primary btn-lg call-to-action">Découvrez notre sélection d'articles</button>
</div>


<ul class="list-group">
  <% @database.each_with_index do |article, index| %>
    <li class="list-group-item">
      <a href="/articles/<%= index %>"><%= article[:title] %></a>
    </li>
  <% end %>
</ul>
