<div class="banner">
  <div id="catching-phrase">
    <h1>Lieu d'expression libre.</h1>
  </div>
  <a class="btn btn-outline-primary btn-lg call-to-action" href="#articles-anchor">Découvrez notre sélection d'articles</a>
</div>

<h2 id="parallax-text">"La cahute a déjà fait couler beaucoup d'encre. Rejoins-nous vite !"</h2>
<div class="parallax"></div>

<h2 class = "articles-section" id="articles-anchor">Tous les articles</h2>
<div class="container articles-container">
  <div class="row">
    <% @articles.each_with_index do |article, index| %>
      <%= partial(:'_card', {article: article, index: index}) %>
    <% end %>
  </div>
</div>

<h2 class = "articles-section" id="articles-anchor">Les articles les lieux notés</h2>
<div class="container articles-container">
  <div class="row">
    <% @top_rated_articles.each_with_index do |article, index| %>
      <%= partial(:'_card', {article: article, index: index}) %>
    <% end %>
  </div>
</div>

<h2 class = "articles-section" id="articles-anchor">Les articles les plus populaires</h2>
<div class="container articles-container">
  <div class="row">
    <% @top_commented_articles.each_with_index do |article, index| %>
      <%= partial(:'_card', {article: article, index: index}) %>
    <% end %>
  </div>
</div>
