<div class="banner">
  <div id="catching-phrase">
    <h1>Lieu d'expression libre.</h1>
  </div>
  <a class="btn btn-outline-primary btn-lg call-to-action" href="#articles-container">Découvrez notre sélection d'articles</a>
</div>

<div class="container" id = "articles-container">
  <div class="row">
    <% @database.each_with_index do |article, index| %>
      <div class="col-12 col-lg-6">
        <div class="card-product">
          <img src="<%= article[:photo] || 'https://unsplash.it/600?image=8'%>">
          <div class="card-product-infos">
            <h2><%= article[:title] %></h2>
            <a href="/articles/<%= index %>" class="card-content-preview text-truncate"><%= article[:content] %></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
