<div class="navbar-ch navbar-ch-absolute">
  <a href="/" class="navbar-ch-logo"><img src="/images/icon-with-name.png" /></a>
  <div class="contact">Contactez-nous !</div>
</div>

<div class="banner" style="background-color: #5CDB95;">
  <div id="catching-phrase">
    <h1>Il y a forcement <br>un article <br>fait pour vous</h1>
  </div>
</div>

<ul class="list-group">
  <% @database.each_with_index do |article, index| %>
    <li class="list-group-item">
      <a href="/articles/<%= index %>"><%= article[:title] %></a>
    </li>
  <% end %>
</ul>
