<div class="banner">
  <div id="catching-phrase">
    <h1>Lieu d'expression libre.</h1>
  </div>
  <a class="btn btn-outline-primary btn-lg call-to-action" href="#articles-anchor">
    Découvrez notre sélection d'articles
  </a>
</div>

<h2 id="parallax-text">"La cahute a déjà fait couler beaucoup d'encre. Rejoignez-nous vite !"</h2>
<div class="parallax"></div>

<%= partial(:'_article_section', {section_title: 'Les derniers articles',
                                  articles: @last_articles}) %>

<%= partial(:'_article_section', {section_title: 'Les mieux notés',
                                  articles: @top_rated_articles}) %>

<%= partial(:'_article_section', {section_title: 'Les plus populaires',
                                  articles: @top_commented_articles}) %>
