<div class="banner">
  <div id="catching-phrase">
    <h1>Lieu d'expression libre.</h1>
  </div>
  <a class="btn btn-outline-primary btn-lg call-to-action" href="#articles-container">Découvrez notre sélection d'articles</a>
</div>

<div class="container" id = "articles-container">
  <div class="row">
    <% @database.each_with_index do |article, index| %>
      <%= partial(:'_card', {article: article, index: index}) %>
    <% end %>
  </div>
</div>
