<!DOCTYPE html>
<html>
  <head>
    <title>Post App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <%= yield %>
    <script src="/javascript/index.js" type="module"></script>
  </body>
</html>
