/* Fonts */
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900');

/* Bootstrap */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

/* Components */
@import url("components/banner.css");
@import url("components/navbar.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/header.css");
@import url("components/avatar.css");

/* Pages */
@import url("pages/article.css");

body {
  font-family: "Montserrat", "Helvetica", "sans-serif";
  color: #05386B;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

h1 {
  color: #EDF5E1;
}
