.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-content-preview {
  max-width: 200px;
  display: block;
  color: #379683;
}

.card-content-preview:hover {
  color: rgba(55,150,131, .8);
}

.card-comment {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.card-comment .card-comment-content {
  flex-grow: 1;
  padding: 0 24px;
}

.card-comment p {
  margin: 0;
  line-height: 1.4;
}

.card-comment small {
  color: #379683;
  font-weight: bold;
}
